.admin_info_area {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  border: 1px solid lightgray;
  padding: 20px;
  border-radius: 10px;
}

.admin_photo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.common_div {
  width: 50%;
  /* border: 2px solid black; */
  text-align: right;
}

.admin_text_info {
  text-align: left !important;
}

@media screen and (max-width: 762px) {
  .admin_info_area {
    display: block;
    /* text-align: center; */
  }
  .common_div {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  .admin_text_info {
    display: flex;
    /* justify-content: center; */
  }
}

.campus_admin_navbar {
  background: var(--hb-light-primary);
  display: flex;
  justify-content: space-between;
  padding: 8px 40px;
}
.campus_admin_navbar button {
  color: white;
}
.campus_admin_navbar a {
  color: white;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  border: 2px solid var(--hb-light-secondary);
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.campus_admin_navbar a:hover {
  background: var(--hb-light-secondary);
}
